{% extends "base.html" %}
{% block title %} Shopping Cart {% endblock %}

{% block content %}

<!--this is to show the user's shopping cart, where they can finalize their
    purchase-->
<!--make table prettier-->
<style>
    table {
        border-collapse: collapse;
    }
    th {
        background-color:#333338;
        Color:white;
    }
    th, td {
        width:250px;
        text-align:center;
        border:1px solid black;
        padding:5px
      
    }
</style>
    <!--the backend, views.py, feeds this page a table with the items' and seller's info-->
    <div class="summary">
        <h1 style="text-align: center">Shopping Cart</h1>
        <table>  
            <tr>
                <th>Seller</th>
                <th>Phone</th>
                <th>Item</th>
                <th>Price</th>
                <th>Address</th>
                <th>Town</th>
                <th>State</th>
                <th>Option</th>
                
            </tr>
            
            {% for item in my_cart %}
            
            <tr>
                <td>{{ item.user_name }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.food }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.town }}</td>
                <td>{{ item.state }}</td>
                <td>
                    <a href="/checkout/{{item.id}}">Checkout</a>
                </td>
            </tr>
    
            {% endfor %}
            
        </table>
    </div>

    

<br>
<p> 
    To finalize any purchases, please checkout the item
    and contact seller for pickup.
</p>    


{% endblock %}
