<!--the jinja lets us inherit the base.html format-->
{% extends "base.html" %}
{% block title %} Your Items {% endblock %}

{% block content %}

  



<h3 align="center">Sell New Item</h3>
<!--this is for adding new items-->
<form method="POST">
  <div class="form-group">
    <label for="food">Insert Item</label>
    <input
      type="text"
      class="form-control"
      id="food"
      name="food"
      placeholder="Enter Item"
    />
  </div>
  <!--ask user for price-->
  <div class="form-group">
    <label for="price">Price</label>
    <input
      type="text"
      class="form-control"
      id="price"
      name="price"
      placeholder="Enter price"
    />
  </div>
  <!--ask user for description-->
  <div class="form-group">
    <label for="description">Description</label>
    <input
      type="text"
      class="form-control"
      id="description"
      name="description"
      placeholder="Enter description"
    />
  </div>
  <!--ask user for expiration date, some foods have no expiration date,
      like honey, so a user can put none as well-->
  <div class="form-group">
    <label for="expiration">Expiration date</label>
    <input
      type="text"
      class="form-control"
      id="expiration"
      name="expiration"
      placeholder="Enter expiration date or none if there is none"
    />
  </div>
  <!-- the submit button takes this form to the backend-----> 
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
