{% extends "base.html" %}
{% block title %} Items For Sale {% endblock %}

{% block content %}
<!--this page can display 3 seperate tables, 1st the general market,
    which lists all items, 2nd the user's items, which are items that the user
    is selling, and 3rd, search results, only if the user searches for an item-->


<!--make table prettier-->
<style>
    table {
        border-collapse: collapse;
    }
    th {
        background-color:#333338;
        Color:white;
    }
    th, td {
        width:250px;
        text-align:center;
        border:1px solid black;
        padding:5px
      
    }

</style>

<!--this allows a user to search for a food item-->
<form method="POST">
    <h3 align="center">Search for an Item</h3>
    <!--user enters items they want-->
    <div class="form-group">
    <label for="searchfood">Food Search</label>
    <input
      type="text"
      class="form-control"
      id="searchfood"
      name="searchfood"
      placeholder="Enter item to search"
    />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<!--this displays the searchresults if the user searched for anything
    with the option to purchase-->
{% if searchresults %}
<div class="searchpage">
    <h1 style="text-align: center">Search Results</h1>
    <table>  
        <tr>
            <th>Item</th>
            <th>Price</th> 
            <th>Description</th>
            <th>Expiration</th>
            <th>Seller</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Town</th>
            <th>State</th>
            <th>Option</th>
        </tr>
        
        {% for searchresult in searchresults %}
        
        <tr>
            <td>{{ searchresult.food }}</td>
            <td>{{ searchresult.price }}</td>
            <td>{{ searchresult.description }}</td>
            <td>{{ searchresult.expiration }}</td>
            <td>{{ searchresult.user_name }}</td>
            <td>{{ searchresult.phone }}</td>
            <td>{{ searchresult.address }}</td>
            <td>{{ searchresult.town }}</td>
            <td>{{ searchresult.state }}</td>
            <td>
                <a href="/purchase/{{searchresult.id}}">Purchase</a>
            </td>
        </tr>

        {% endfor %}
        
    </table>
</div>
{% else %}

<!--this displays the general market, with the option to purchase-->
<div class="allitems">
    <h1 style="text-align: center">All Items</h1>
    <table>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
            <th>Expiration</th>
            <th>Seller</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Town</th>
            <th>State</th>
            <th>Option</th>
        </tr>
        {% for seller in seller %}
        <tr>
            <td>{{ seller.food  }}</td>
            <td>{{ seller.price  }}</td>
            <td>{{ seller.description }}</td>
            <td>{{ seller.expiration }}</td>
            <td>{{ seller.user_name  }}</td>
            <td>{{ seller.phone  }}</td>
            <td>{{ seller.address }}</td>
            <td>{{ seller.town }}</td>
            <td>{{ seller.state }}</td>
            <td>
                <a href="/purchase/{{seller.id}}">Purchase</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
        
{% endif %}

{% endblock %}
