{% extends "base.html" %}
{% block title %} Items For Sale {% endblock %}

{% block content %}

<!--make table prettier-->
<style>
    table {
        border-collapse: collapse;
    }
    th {
        background-color:#333338;
        Color:white;
    }
    th, td {
        width:250px;
        text-align:center;
        border:1px solid black;
        padding:5px
      
    }
    .geeks {
        border-right:hidden;
    }
    .gfg {
        border-collapse:separate;
        border-spacing:0 15px;
    }
</style>

<form method="POST">
    <h3 align="center">Search for an Item</h3>
    <!--user enters items they want-->
    <div class="form-group">
    <label for="searchfood">Food Search</label>
    <input
      type="text"
      class="form-control"
      id="searchfood"
      name="searchfood"
      placeholder="Enter item to search"
    />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
{% if searchresults %}
<div class="searchpage">
    <h1 style="text-align: center">Search Results</h1>
    <table>  
        <tr>
            <th>Seller</th>
            <th>Phone</th>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
            <th>Expiration</th>
            <th>Address</th>
            <th>Option</th>
        </tr>
        
        {% for searchresult in searchresults %}
        
        <tr>
            <td>{{ searchresult.user_name }}</td>
            <td>{{ searchresult.phone }}</td>
            <td>{{ searchresult.food }}</td>
            <td>{{ searchresult.price }}</td>
            <td>{{ searchresult.description }}</td>
            <td>{{ searchresult.expiration }}</td>
            <td>{{ searchresult.address }}</td>
            <td>
                <a href="/purchase/{{searchresult.id}}">Purchase</a>
            </td>
        </tr>

        {% endfor %}
        
    </table>
</div>
{% else %}

<div class="myitems">
    <h1 style="text-align: center">Your Items</h1>
    <table>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
            <th>Expiration</th>
            <th>Option</th>
        </tr>
        {% for stuff in my_stuff %}
        <tr>
            <td>{{ stuff.food  }}</td>
            <td>{{ stuff.price  }}</td>
            <td>{{ stuff.description }}</td>
            <td>{{ stuff.expiration }}</td>
             <!--note maybe supply custom tables form backend-->
            <td>
                <a href="/delete/{{stuff.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


<div class="allitems">
    <h1 style="text-align: center">All Items</h1>
    <table>
        <tr>
            <th>Seller</th>
            <th>Phone</th>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
            <th>Expiration</th>
            <th>Address</th>
            <th>Option</th>
        </tr>
        {% for seller in seller %}
        <tr>
            <td>{{ seller.user_name  }}</td>
            <td>{{ seller.phone  }}</td>
            <td>{{ seller.food  }}</td>
            <td>{{ seller.price  }}</td>
            <td>{{ seller.description }}</td>
            <td>{{ seller.expiration }}</td>
            <td>{{ seller.address }}</td>
            <td>
                <a href="/purchase/{{seller.id}}">Purchase</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
        
{% endif %}

{% endblock %}